<div class="footer mh-100 bg-light">
  <br>
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-4">
        <%= link_to 'CrisManSaaS', root_path %>
        © 
        <%= Time.now.year %>
        <br/>
      </div>
      <div class="col-md-4">
        <%= link_to 'About', about_path, class: 'ml-3' %>
        <br/>
        <%= link_to 'Pricing', pricing_path, class: 'ml-3' %>
        <br/>
      </div>
      <div class="col-md-4">
        <%= link_to 'Terms', terms_path, class: 'ml-3' %>
        <br/>
        <%= link_to 'Privacy', privacy_path, class: 'ml-3' %>
        <br/>
      </div>
    </div>
  </div>
  <br>
</div> 